<main>
    <div class="herb-container">
        <a id='returnlink' href="/appetizer">Return to All Appetizers</a>
        <br><br>
        <div class="herb ailment">
            <h3 id="nameone"> {{ appetizer.appetizerName }} </h3>
            <div class="buttons ailbuttons">
                <a href="/appetizer/{{appetizer.id}}/update">
                    <input type="submit" value="Modify appetizer" class="button">
                </a>
                <form action="/appetizer/{{appetizer.id}}?_method=delete" method="POST">
                    <input type="submit" value="Delete appetizer" class="button">
                </form>-
            </div>
            <img class="picture" src="../images/{{ appetizer.picture }}" alt="" srcset="">
            <p>{{appetizer.directions}}</p>
            <ul>
                {{#each appetizer.ingridents}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <p>
            {{appetizer.nutritionFacts}}
            </p>

        </div>
    </div>


</main>
