<main>
    <div class="entree-container">
        <br><br>
        <div class="herb ailment">
            <h3 id="nameone"> {{ entree.entreeName }} </h3>
            <div class="buttons ailbuttons">
                <a href="/entree/{{entree.id}}/update">
                    <input type="submit" value="Edit" class="button">
                </a>
                <form action="/entree/{{entree.id}}?_method=delete" method="POST">
                    <input type="submit" value="Delete" class="button">
                </form>
            </div>
            <img class="picture" src="../images/{{ entree.picture }}" alt="" srcset="">
            <h2>Directions</h2>
            <p>{{entree.directions}}</p>
            <h2>Ingridents</h2>
            <ul>
                {{#each entree.ingridents}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <h2>Nutrition Facts</h2>
            <p>
            {{entree.nutritionFacts}}
            </p>

        </div>
    </div>


</main>