<main>
    <div class="entree-container">
        <br>
        <div class="entree">
            <h3 class="header3" id="nameone"> {{ entree.entreeName }} </h3>
            <div class="buttons">
                <a href="/entree/{{entree.id}}/update">
                    <input type="submit" value="Edit" class="button">
                </a>
                <form action="/entree/{{entree.id}}?_method=delete" method="POST">
                    <input type="submit" value="Delete" class="button">
                </form>
            </div>
            <img class="picture" src="../images/{{ entree.picture }}" alt="" srcset="">
            <h2 class="header2">Directions</h2>
            <p class="paragraph">{{entree.directions}}</p>
            <h2 class="header2">Ingridents</h2>
            <ul>
                {{#each entree.ingridents}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <h2 class="header2">Nutrition Facts</h2>
            <p class="paragraph">
            {{entree.nutritionFacts}}
            </p>

        </div>
    </div>


</main>