<div class="background">
	<main>
		<div class="herb-container edit">
			<h2>Edit Entree!</h2>

			<a id='returnlink' href="/entree/{{entree.id}}">Back to Home Page or click Icon</a>
			<br><br>
			<div id="edit-form" class="herb-container-show">

				<form action="/entree/{{entree._id}}?_method=PUT" method="POST" id="addnew">
					<label for="name">Entree Name</label>
					<input type="text" name="name" id="" placeholder="{{entree.entreeName}}">
					<br>
					<label for="picture">Choose Picture</label>
					<input type="file" name="picture" id="">
					<br>
					<label for="directions">Directions</label>
					<input type="text" name="description" id="" placeholder="{{entree.directions}}">
					<br>
					<label for="ingridents">Ingridents</label>
					<input type="text" name="ingridents" id="" placeholder="{{entree.ingridents}}">
					<br>
					<label for="nutritionFacts">Nutrition Facts</label>
					<input type="text" name="nutritionFacts" id="" placeholder="{{entree.nutritionFacts}}">
					<br>
					<input class="button" type="submit" value="Update Entree">

				</form>
			</div>
	</main>
</div>
</div>
